<% include header.ejs %>

			<!-- 
				MIDDLE 
			-->
			<section id="middle">
				<div id="content" class="dashboard padding-20">
					<div class="row">

						<div >
							<div id="panel-graphs-flot-c1" class="panel panel-default">

								<div class="panel-heading">

									<span class="elipsis"><!-- panel title -->
										<strong>独立访客量(<span id="flot-visitor-des">今天</span>)</strong>
									</span>

									<!-- right options -->
									<ul class="options pull-right list-inline">
										<li><button type="button" class="btn btn-xs btn-warning" style="font-size: 14px" id="todayVisitors">今天</button></li>
										<li><button type="button" class="btn btn-xs btn-warning" style="font-size: 14px" id="yesterdayVisitors">昨天</button></li>
										<li><button type="button" class="btn btn-xs  btn-success" style="font-size: 14px" id="weekVisitors">过去一周</button></li>
										<li><button type="button" class="btn btn-xs  btn-danger" style="font-size: 14px" id="monthVisitors">过去一个月</button></li>
									</ul>
									<!-- /right options -->

								</div>

								<!-- panel content -->
								<div class="panel-body nopadding">

									<div id="flot-visitor" class="flot-chart"><!-- FLOT CONTAINER --></div>

								</div>
								<!-- /panel content -->

							</div>
							<!-- Pie Chart -->

							<!-- /Pie Chart -->
						</div>


						<div id="panel-graphs-flot-c1" class="panel panel-default">

							<div class="panel-heading">

									<span class="elipsis"><!-- panel title -->
										<strong>新增访问数(<span id="flot-sales-1-des">今天</span>)</strong>
									</span>

								<!-- right options -->

								<!-- /right options -->

							</div>

							<!-- panel content -->
							<div class="panel-body nopadding">

								<div id="flot-sales-1" class="flot-chart"><!-- FLOT CONTAINER --></div>

							</div>
							<!-- /panel content -->

						</div>

					</div>
				</div>
			</section>
			<!-- /MIDDLE -->

		</div>



	
		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript">var plugin_path = '/admin/plugins/';</script>
		<script type="text/javascript" src="/admin/plugins/jquery/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/admin/js/app.js"></script>
		
		<!-- PAGE LEVEL SCRIPT -->
		<script type="text/javascript">
			loadScript(plugin_path + "chart.flot/jquery.flot.min.js", function(){
				loadScript(plugin_path + "chart.flot/jquery.flot.resize.min.js", function(){
					loadScript(plugin_path + "chart.flot/jquery.flot.time.min.js", function(){
						loadScript(plugin_path + "chart.flot/jquery.flot.fillbetween.min.js", function(){
							loadScript(plugin_path + "chart.flot/jquery.flot.orderBars.min.js", function(){
								loadScript(plugin_path + "chart.flot/jquery.flot.pie.min.js", function(){
									loadScript(plugin_path + "chart.flot/jquery.flot.tooltip.min.js", function(){

										if (jQuery("#flot-sales-1").length > 0) {

											/* DEFAULTS FLOT COLORS */
											var $color_border_color = "#eaeaea",		/* light gray 	*/
													$color_second 		= "#6595b4";		/* blue      	*/


//											var d = [
//												[1196463600000, 0], [1196550000000, 0], [1196636400000, 0], [1196722800000, 77], [1196809200000, 3636], [1196895600000, 3575], [1196982000000, 2736], [1197068400000, 1086], [1197154800000, 676], [1197241200000, 1205], [1197327600000, 906], [1197414000000, 710], [1197500400000, 639], [1197586800000, 540], [1197673200000, 435], [1197759600000, 301], [1197846000000, 575], [1197932400000, 481], [1198018800000, 591], [1198105200000, 608], [1198191600000, 459], [1198278000000, 234], [1198364400000, 4568], [1198450800000, 686], [1198537200000, 4122], [1198623600000, 449], [1198710000000, 468], [1198796400000, 392], [1198882800000, 282], [1198969200000, 208], [1199055600000, 229], [1199142000000, 177], [1199228400000, 374], [1199314800000, 436], [1199401200000, 404], [1199487600000, 544], [1199574000000, 500], [1199660400000, 476], [1199746800000, 462], [1199833200000, 500], [1199919600000, 700], [1200006000000, 750], [1200092400000, 600], [1200178800000, 500], [1200265200000, 900], [1200351600000, 930], [1200438000000, 1200], [1200524400000, 980], [1200610800000, 950], [1200697200000, 900], [1200783600000, 1000], [1200870000000, 1050], [1200956400000, 1150], [1201042800000, 1100], [1201129200000, 1200], [1201215600000, 1300], [1201302000000, 1700], [1201388400000, 1450], [1201474800000, 1500], [1201561200000, 1510], [1201647600000, 1510], [1201734000000, 1510], [1201820400000, 1700], [1201906800000, 1800], [1201993200000, 1900], [1202079600000, 2000], [1202166000000, 2100], [1202252400000, 2200], [1202338800000, 2300], [1202425200000, 2400], [1202511600000, 2550], [1202598000000, 2600], [1202684400000, 2500], [1202770800000, 2700], [1202857200000, 2750], [1202943600000, 2800], [1203030000000, 3245], [1203116400000, 3345], [1203202800000, 3000], [1203289200000, 3200], [1203375600000, 3300], [1203462000000, 3400], [1203548400000, 3600], [1203634800000, 3700], [1203721200000, 3800], [1203807600000, 4000], [1203894000000, 4500]];
											var nd=<%=JSON.stringify(dayNewVisitorsList)%>;

											for (var i = 0; i < nd.length; ++i) {
												nd[i][0] += 60 * 60 * 1000;
											}

											var options = {

												xaxis : {
													mode : "time",
													tickLength : 5
												},

												series : {
													lines : {
														show : true,
														lineWidth : 1,
														fill : true,
														fillColor : {
															colors : [{
																opacity : 0.1
															}, {
																opacity : 0.15
															}]
														}
													},
													//points: { show: true },
													shadowSize : 0
												},

												selection : {
													mode : "x"
												},

												grid : {
													hoverable : true,
													clickable : true,
													tickColor : $color_border_color,
													borderWidth : 0,
													borderColor : $color_border_color,
												},

												tooltip : true,

												tooltipOpts : {
													content : "时间: %x <span class='block'>新增访客量：%y</span>",
													dateFormat : "%y-%0m-%0d",
													defaultTheme : false
												},

												colors : [$color_second],

											};

											var plot = jQuery.plot(jQuery("#flot-sales-1"), [nd], options);

										}

										if (jQuery("#flot-visitor").length > 0) {

											/* DEFAULTS FLOT COLORS */
											var $color_border_color = "#eaeaea",		/* light gray 	*/
												$color_second 		= "#6595b4";		/* blue      	*/


//											var d = [
//												[1196463600000, 0], [1196550000000, 0], [1196636400000, 0], [1196722800000, 77], [1196809200000, 3636], [1196895600000, 3575], [1196982000000, 2736], [1197068400000, 1086], [1197154800000, 676], [1197241200000, 1205], [1197327600000, 906], [1197414000000, 710], [1197500400000, 639], [1197586800000, 540], [1197673200000, 435], [1197759600000, 301], [1197846000000, 575], [1197932400000, 481], [1198018800000, 591], [1198105200000, 608], [1198191600000, 459], [1198278000000, 234], [1198364400000, 4568], [1198450800000, 686], [1198537200000, 4122], [1198623600000, 449], [1198710000000, 468], [1198796400000, 392], [1198882800000, 282], [1198969200000, 208], [1199055600000, 229], [1199142000000, 177], [1199228400000, 374], [1199314800000, 436], [1199401200000, 404], [1199487600000, 544], [1199574000000, 500], [1199660400000, 476], [1199746800000, 462], [1199833200000, 500], [1199919600000, 700], [1200006000000, 750], [1200092400000, 600], [1200178800000, 500], [1200265200000, 900], [1200351600000, 930], [1200438000000, 1200], [1200524400000, 980], [1200610800000, 950], [1200697200000, 900], [1200783600000, 1000], [1200870000000, 1050], [1200956400000, 1150], [1201042800000, 1100], [1201129200000, 1200], [1201215600000, 1300], [1201302000000, 1700], [1201388400000, 1450], [1201474800000, 1500], [1201561200000, 1510], [1201647600000, 1510], [1201734000000, 1510], [1201820400000, 1700], [1201906800000, 1800], [1201993200000, 1900], [1202079600000, 2000], [1202166000000, 2100], [1202252400000, 2200], [1202338800000, 2300], [1202425200000, 2400], [1202511600000, 2550], [1202598000000, 2600], [1202684400000, 2500], [1202770800000, 2700], [1202857200000, 2750], [1202943600000, 2800], [1203030000000, 3245], [1203116400000, 3345], [1203202800000, 3000], [1203289200000, 3200], [1203375600000, 3300], [1203462000000, 3400], [1203548400000, 3600], [1203634800000, 3700], [1203721200000, 3800], [1203807600000, 4000], [1203894000000, 4500]];
											var n=<%=JSON.stringify(dayVisitorsList)%>;

											for (var i = 0; i < n.length; ++i) {
												n[i][0] += 60 * 60 * 1000;
											}

											var options = {

												xaxis : {
													mode : "time",
													tickLength : 5
												},

												series : {
													lines : {
														show : true,
														lineWidth : 1,
														fill : true,
														fillColor : {
															colors : [{
																opacity : 0.1
															}, {
																opacity : 0.15
															}]
														}
													},
												   //points: { show: true },
													shadowSize : 0
												},

												selection : {
													mode : "x"
												},

												grid : {
													hoverable : true,
													clickable : true,
													tickColor : $color_border_color,
													borderWidth : 0,
													borderColor : $color_border_color,
												},

												tooltip : true,

												tooltipOpts : {
													content : "时间: %x <span class='block'>访客量：%y</span>",
													dateFormat : "%y-%0m-%0d",
													defaultTheme : false
												},

												colors : [$color_second],

											};

											var plot = jQuery.plot(jQuery("#flot-visitor"), [n], options);
											$("#todayVisitors").click(function(){
												$("#flot-visitor-des").html('今天');
												$.get('/plot/status/todayVisitors',function(ret){
													if(ret.success){
														var n=ret.data;

														for (var i = 0; i < n.length; ++i) {
															n[i][0] += 60 * 60 * 1000;
														}
														jQuery.plot(jQuery("#flot-visitor"), [n], options);
													}
												})
											})
											$("#yesterdayVisitors").click(function(){
												$("#flot-visitor-des").html('昨天');
												$.get('/plot/status/yesterdayVisitors',function(ret){
													if(ret.success){
														var n=ret.data;

														for (var i = 0; i < n.length; ++i) {
															n[i][0] += 60 * 60 * 1000;
														}
														jQuery.plot(jQuery("#flot-visitor"), [n], options);
													}
												})
											})
											$("#weekVisitors").click(function(){
												$("#flot-visitor-des").html('过去一周');
												$.get('/plot/status/weekVisitors',function(ret){
													console.log(ret);
													if(ret.success){
														var n=ret.data;

														for (var i = 0; i < n.length; ++i) {
															n[i][0] += 60 * 60 * 1000;
														}
														jQuery.plot(jQuery("#flot-visitor"), [n], options);
													}
												})
											})
											$("#monthVisitors").click(function(){
												$("#flot-visitor-des").html('过去一个月');
												$.get('/plot/status/monthVisitors',function(ret){
													if(ret.success){
														var n=ret.data;

														for (var i = 0; i < n.length; ++i) {
															n[i][0] += 60 * 60 * 1000;
														}
														jQuery.plot(jQuery("#flot-visitor"), [n], options);
													}
												})
											})
										}


									});
								});
							});
						});
					});
				});
			});
			loadScript(plugin_path + "raphael-min.js", function(){
				loadScript(plugin_path + "chart.morris/morris.min.js", function(){

					// demo js script
					loadScript("/admin/js/view/demo.graphs.morris.js");

				});
			});

			$('.btn-logout').click(function(){
				$.get('/admin/logout',function(data){
					if(data=='success')
						window.location.href='/admin/login';
				})
			})
		</script>

		<!-- STYLESWITCHER - REMOVE -->
		<!-- <script async type="text/javascript" src="/admin/plugins/styleswitcher/styleswitcher.js"></script> -->
	</body>
</html>