
<%include header.ejs%>

			<!-- 
				MIDDLE 
			-->
			<section id="middle">
				<div id="content" class="dashboard padding-20">

					<!-- 
						PANEL CLASSES:
							panel-default
							panel-danger
							panel-warning
							panel-info
							panel-success

						INFO: 	panel collapse - stored on user localStorage (handled by app.js _panels() function).
								All pannels should have an unique ID or the panel collapse status will not be stored!
					-->

					<div id="panel-1" class="panel panel-default">
						<div class="panel-heading">
							<span class="title elipsis">
								<strong>访问统计(<span id="flot-sales-des">今天</span>)</strong> <!-- panel title -->
								<!-- <small class="size-12 weight-300 text-mutted hidden-xs">2015</small> -->
							</span>

							<!-- right options -->
							<ul class="options pull-right list-inline">
								<li><button type="button" class="btn btn-xs btn-warning" style="font-size: 14px" id="todayData">今天</button></li>
								<li><button type="button" class="btn btn-xs btn-warning" style="font-size: 14px" id="yesterdayData">昨天</button></li>
								<li><button type="button" class="btn btn-xs btn-success" style="font-size: 14px" id="weekData">过去一周</button></li>
								<li><button type="button" class="btn btn-xs btn-danger" style="font-size: 14px" id="monthData">过去一个月</button></li>
							</ul>
							<!-- /right options -->

						</div>

						<!-- panel content -->
						<div class="panel-body">

							<div id="flot-sales" class="fullwidth height-250"></div>

						</div>
						<!-- /panel content -->



					</div>
					<!-- /PANEL -->





					<!-- BOXES -->
					<div class="row col-sm-12">

							<div class="col-md-3">

							<!-- 
								PANEL CLASSES:
									panel-default
									panel-danger
									panel-warning
									panel-info
									panel-success

								INFO: 	panel collapse - stored on user localStorage (handled by app.js _panels() function).
										All pannels should have an unique ID or the panel collapse status will not be stored!
							-->
							<div id="panel-2" class="panel panel-default">
								<div class="panel-heading">
									<span class="title elipsis">
										<strong>设置网站状态</strong> <!-- panel title -->
									</span>

									<!-- tabs nav -->
									<ul class="nav nav-tabs pull-right ">
										<li class="webstatus-setting"><!-- TAB 2 -->
											<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="label label-success"> <%if(web_config.value.webstatus==1){%>在线<%}else{%>离线<%}%><span class="caret"></span></span></a>
											<ul class="dropdown-menu pull-right" role="menu">
												<li><a data-portlet="color_status_switch" data-action="path_to_chat.php?status=online" data-method="GET" href="#label-success"><i class="fa fa-dot-circle-o color-green"></i> 在线</a></li>
												<li><a data-portlet="color_status_switch" data-action="path_to_chat.php?status=away" data-method="GET" href="#label-warning"><i class="fa fa-dot-circle-o color-yellow"></i> 离线</a></li>
											</ul>
										</li>
									</ul>
									<!-- /tabs nav -->


								</div>

								<!-- panel content -->
								<div class="panel-body webstate" >
									<%if(web_config.value.webstatus==1){%>网站正在正常工作<%}else{%>网站已关闭<%}%>
								</div>
								<!-- /panel content -->

							</div>
							<!-- /PANEL -->
					
						</div>



						<!-- Profit Box -->
						<div class="col-md-3 col-sm-6">

							<!-- BOX -->
							<div class="box warning"><!-- default, danger, warning, info, success -->

								<div class="box-title"><!-- add .noborder class if box-body is removed -->
									<h4 style="padding-bottom: inherit;"><%=info.views+1%> 页面浏览（PV）</h4>

									<i class="fa fa-bar-chart-o"></i>
								</div>

								<div class="box-body text-center">
									<span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#ffffff","height":"35px","width":"100%","zeroAxis":"false","barSpacing":"2"}'>
										331,265,456,411,367,319,402,312,300,312,283,384,372,269,402,319,416,355,416,371,423,259,361,312,269,402,327
									</span>
								</div>

							</div>
							<!-- /BOX -->

						</div>


						<!-- Online Box -->
						<div class="col-md-3 col-sm-6">

							<!-- BOX -->
							<div class="box success"><!-- default, danger, warning, info, success -->

								<div class="box-title"><!-- add .noborder class if box-body is removed -->
									<h4><%=info.visitors%>  当前在线</h4>
									<small class="block"><%=info.maxVisitors%> 峰值</small>
									<i class="fa fa-globe"></i>
								</div>

								<div class="box-body text-center">
									<span class="sparkline" data-plugin-options='{"type":"bar","barColor":"#ffffff","height":"35px","width":"100%","zeroAxis":"false","barSpacing":"2"}'>
										331,265,456,411,367,319,402,312,300,312,283,384,372,269,402,319,416,355,416,371,423,259,361,312,269,402,327
									</span>
								</div>

							</div>
							<!-- /BOX -->

						</div>
					</div>
					<!-- /BOXES -->



				</div>
			</section>
			<!-- /MIDDLE -->

		</div>



	
		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript">var plugin_path = '/admin/plugins/';</script>
		<script type="text/javascript" src="/admin/plugins/jquery/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/admin/js/app.js"></script>
		
		<!-- PAGE LEVEL SCRIPT -->
		<script type="text/javascript">

			/* 
				Toastr Notification On Load 

				TYPE:
					primary
					info
					error
					success
					warning

				POSITION
					top-right
					top-left
					top-center
					top-full-width
					bottom-right
					bottom-left
					bottom-center
					bottom-full-width
					
				false = click link (example: "http://www.stepofweb.com")
			*/
			//_toastr("Welcome, you have 2 new orders","top-right","success",false);




			/** SALES CHART
			******************************************* **/
			loadScript(plugin_path + "chart.flot/jquery.flot.min.js", function(){
				loadScript(plugin_path + "chart.flot/jquery.flot.resize.min.js", function(){
					loadScript(plugin_path + "chart.flot/jquery.flot.time.min.js", function(){
						loadScript(plugin_path + "chart.flot/jquery.flot.fillbetween.min.js", function(){
							loadScript(plugin_path + "chart.flot/jquery.flot.orderBars.min.js", function(){
								loadScript(plugin_path + "chart.flot/jquery.flot.pie.min.js", function(){
									loadScript(plugin_path + "chart.flot/jquery.flot.tooltip.min.js", function(){

										if (jQuery("#flot-sales").length > 0) {

											/* DEFAULTS FLOT COLORS */
											var $color_border_color = "#eaeaea",		/* light gray 	*/
												$color_second 		= "#6595b4";		/* blue      	*/


//											var d = [
//												[1196463600000, 0], [1196550000000, 0], [1196636400000, 0], [1196722800000, 77], [1196809200000, 3636], [1196895600000, 3575], [1196982000000, 2736], [1197068400000, 1086], [1197154800000, 676], [1197241200000, 1205], [1197327600000, 906], [1197414000000, 710], [1197500400000, 639], [1197586800000, 540], [1197673200000, 435], [1197759600000, 301], [1197846000000, 575], [1197932400000, 481], [1198018800000, 591], [1198105200000, 608], [1198191600000, 459], [1198278000000, 234], [1198364400000, 4568], [1198450800000, 686], [1198537200000, 4122], [1198623600000, 449], [1198710000000, 468], [1198796400000, 392], [1198882800000, 282], [1198969200000, 208], [1199055600000, 229], [1199142000000, 177], [1199228400000, 374], [1199314800000, 436], [1199401200000, 404], [1199487600000, 544], [1199574000000, 500], [1199660400000, 476], [1199746800000, 462], [1199833200000, 500], [1199919600000, 700], [1200006000000, 750], [1200092400000, 600], [1200178800000, 500], [1200265200000, 900], [1200351600000, 930], [1200438000000, 1200], [1200524400000, 980], [1200610800000, 950], [1200697200000, 900], [1200783600000, 1000], [1200870000000, 1050], [1200956400000, 1150], [1201042800000, 1100], [1201129200000, 1200], [1201215600000, 1300], [1201302000000, 1700], [1201388400000, 1450], [1201474800000, 1500], [1201561200000, 1510], [1201647600000, 1510], [1201734000000, 1510], [1201820400000, 1700], [1201906800000, 1800], [1201993200000, 1900], [1202079600000, 2000], [1202166000000, 2100], [1202252400000, 2200], [1202338800000, 2300], [1202425200000, 2400], [1202511600000, 2550], [1202598000000, 2600], [1202684400000, 2500], [1202770800000, 2700], [1202857200000, 2750], [1202943600000, 2800], [1203030000000, 3245], [1203116400000, 3345], [1203202800000, 3000], [1203289200000, 3200], [1203375600000, 3300], [1203462000000, 3400], [1203548400000, 3600], [1203634800000, 3700], [1203721200000, 3800], [1203807600000, 4000], [1203894000000, 4500]];
											var d=<%=JSON.stringify(todayList)%>;

											for (var i = 0; i < d.length; ++i) {
												d[i][0] += 60 * 60 * 1000;
											}
										
											var options = {

												xaxis : {
													mode : "time",
													tickLength : 5
												},

												series : {
													lines : {
														show : true,
														lineWidth : 1,
														fill : true,
														fillColor : {
															colors : [{
																opacity : 0.1
															}, {
																opacity : 0.15
															}]
														}
													},
												   //points: { show: true },
													shadowSize : 0
												},

												selection : {
													mode : "x"
												},

												grid : {
													hoverable : true,
													clickable : true,
													tickColor : $color_border_color,
													borderWidth : 0,
													borderColor : $color_border_color,
												},

												tooltip : true,

												tooltipOpts : {
													content : "访问量: %x <span class='block'>%y</span>",
													dateFormat : "%y-%0m-%0d",
													defaultTheme : false
												},

												colors : [$color_second],
										
											};
										
											var plot = jQuery.plot(jQuery("#flot-sales"), [d], options);
											$("#todayData").click(function(){
												$("#flot-sales-des").html('今天');
												$.get('/plot/index/today',function(ret){
													if(ret.success){
														var n=ret.data;

														for (var i = 0; i < n.length; ++i) {
															n[i][0] += 60 * 60 * 1000;
														}
														jQuery.plot(jQuery("#flot-sales"), [n], options);
													}
												})
											})
											$("#yesterdayData").click(function(){
												$("#flot-sales-des").html('昨天');
												$.get('/plot/index/yesterday',function(ret){
													if(ret.success){
														var n=ret.data;

														for (var i = 0; i < n.length; ++i) {
															n[i][0] += 60 * 60 * 1000;
														}
														jQuery.plot(jQuery("#flot-sales"), [n], options);
													}
												})
											})
											$("#weekData").click(function(){
												$("#flot-sales-des").html('过去一周');
												$.get('/plot/index/week',function(ret){
													console.log(ret);
													if(ret.success){
														var n=ret.data;

														for (var i = 0; i < n.length; ++i) {
															n[i][0] += 60 * 60 * 1000;
														}
														jQuery.plot(jQuery("#flot-sales"), [n], options);
													}
												})
											})
											$("#monthData").click(function(){
												$("#flot-sales-des").html('过去一个月');
												$.get('/plot/index/month',function(ret){
													if(ret.success){
														var n=ret.data;

														for (var i = 0; i < n.length; ++i) {
															n[i][0] += 60 * 60 * 1000;
														}
														jQuery.plot(jQuery("#flot-sales"), [n], options);
													}
												})
											})


											//setTimeout(jQuery.plot(jQuery("#flot-sales"), [r], options),30000)
										}



									});
								});
							});
						});
					});
				});
			});

			$('.btn-logout').click(function(){
				$.get('/admin/logout',function(data){
					if(data=='success')
						window.location.href='/admin/login';
				})
			})

			//设置网站状态
			$('.webstatus-setting ul li').click(function(e){

				if($(this).index()==0){
					$.get('/admin/webstatus-set/1',function(data){
						if(data.success==true){
							$('.webstate').html('网站正在正常工作');
							_toastr("前台站点已开启！","top-right","success",false);
							$('.webstatus-setting').find('.label-success').html('在线<span class="caret"></span>');
						}else{
							_toastr(data.err,"top-right","error",false);
						}
					})

				}else{
					$.get('/admin/webstatus-set/0',function(data){
						if(data.success==true){
							$('.webstate').html('网站已关闭');
							_toastr("前台站点已关闭！","top-right","success",false);
							$('.webstatus-setting').find('.label-success').html('离线<span class="caret"></span>');
						}else{
							_toastr(data.err,"top-right","error",false);
						}
					})
				}

			})

			</script>

		<!-- STYLESWITCHER - REMOVE -->
		<!-- <script async type="text/javascript" src="/admin/plugins/styleswitcher/styleswitcher.js"></script> -->
	</body>
</html>