<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>视智云--登录</title>
		<meta name="description" content="" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- WEB FONTS -->
		<!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />-->

		<!-- CORE CSS -->
		<link href="/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="/admin/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="/admin/css/layout.css" rel="stylesheet" type="text/css" />
		<link href="/admin/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />

	</head>
	<!--
		.boxed = boxed version
	-->
	<body>


		<div class="padding-15">

			<div class="login-box">

				<!-- login form -->
				<form action="index.html" method="post" class="sky-form boxed">
					<header><i class="fa fa-users"></i> 登录</header>

					<!--
					<div class="alert alert-danger noborder text-center weight-400 nomargin noradius">
						Invalid Email or Password!
					</div>

					<div class="alert alert-warning noborder text-center weight-400 nomargin noradius">
						Account Inactive!
					</div>

					<div class="alert alert-default noborder text-center weight-400 nomargin noradius">
						<strong>Too many failures!</strong> <br />
						Please wait: <span class="inlineCountdown" data-seconds="180"></span>
					</div>
					-->

					<fieldset>	
					
						<section>
							<label class="label">用户名</label>
							<label class="input">
								<i class="icon-append fa fa-envelope"></i>
								<input type="text" class="user">
								<span class="tooltip tooltip-top-right">请输入用户名</span>
							</label>
						</section>
						
						<section>
							<label class="label">密码</label>
							<label class="input">
								<i class="icon-append fa fa-lock"></i>
								<input type="password" class="password" >
								<b class="tooltip tooltip-top-right">请输入密码</b>
							</label>
							<!-- <label class="checkbox"><input type="checkbox" name="checkbox-inline" checked><i></i>记住我</label> -->
						</section>

					</fieldset>

					<footer>
						<button type="button" class="btn btn-primary pull-right">登录</button>
						<!--<button type="submit" class="btn btn-primary pull-right">登录</button>-->
						<!-- <div class="forgot-password pull-left">
							<a href="page-password.html">忘记密码?</a> <br />
							<a href="page-register.html"><b>需要注册?</b></a>
						</div> -->
					</footer>
				</form>
				<!-- /login form -->

				<hr />

			<!-- 	<div class="text-center">
					Or sign in using:
				</div>


				<div class="socials margin-top-10 text-center">
					<a href="#" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
					<a href="#" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
				</div> -->

			</div>

		</div>

		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript">var plugin_path = '/admin/plugins/';</script>
		<script type="text/javascript" src="/admin/plugins/jquery/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/admin/js/app.js"></script>
		<script>
			$('.btn-primary').click(function(){
				$.post('/admin/login',{username:$('.user').val(),password:$('.password').val()},function(data){
					if(data=='success'){
						window.location.href='/admin/cms';
					}else{
						_toastr("用户名或账号不正确，或者该用户已被禁用","top-right","error",false);
					}
				})
			})
			$("form input").keydown(function(event){
				if(event.keyCode==13){
					event.stopPropagation();
					event.preventDefault();
					$('.btn-primary').click();
				}
			})
		</script>
	</body>
</html>