<% include header.ejs %>


        <!-- ******CONTENT****** --> 
        <div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">组织机构</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li class="breadcrumbs-label">您在这里:</li>
                            <li><a href="/">首页</a><i class="fa fa-angle-right"></i></li>
                            <li style="color: #aaaaaa">学校概况<i class="fa fa-angle-right"></i></li>
                            <li class="current">组织机构</li>
                        </ul>
                    </div><!--//breadcrumbs-->
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar  col-md-2 col-sm-3 affix-top">         
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/aboutSC-president">校长致辞</a></li>
                                    <li><a href="/aboutSC-general">学校沿革</a></li>
                                    <li><a href="/aboutSC-history">历任领导</a></li>
                                    <li><a href="/aboutSC-current">现任领导</a></li>
                                    <li class="active"><a href="/aboutSC-statistics">组织机构</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside>
                        <div class="news-wrapper col-md-10 col-sm-8">                         
                            <article class="news-item">
                                <div class="page-row statistics">
                                    <table class="table">
                                      <tbody>
                                        <tr>
                                          <td>党委办公室</td>
                                          <td>党委组织部</td>
                                          <td>党委宣传部</td>
                                        </tr>
                                        <tr>
                                          <td>党委统战部</td>
                                          <td>党委学生部</td>
                                          <td>党委研究生工作部</td>
                                        </tr>
                                        <tr>
                                          <td>党委离退休工作部</td>
                                          <td>党委保卫部</td>
                                          <td>党委武装部</td>
                                        </tr>
                                        <tr>
                                          <td>党史研究室</td>
                                          <td>纪委办公室</td>
                                          <td>工会委员会</td>
                                        </tr>
                                        <tr>
                                          <td>共青团委员会</td>
                                          <td></td>
                                          <td></td>
                                        </tr>
                                      </tbody>
                                    </table>

                                    <table class="table">
                                      <tbody>
                                        <tr>
                                          <td>校长办公室</td>
                                          <td>教务部</td>
                                          <td>研究生院</td>
                                        </tr>
                                        <tr>
                                          <td>科研院</td>
                                          <td>文科建设处</td>
                                          <td>技术转移研究院</td>
                                        </tr>
                                        <tr>
                                          <td>发展规划处<br>学科规划与建设办公室</td>
                                          <td>国际合作与交流处</td>
                                          <td>人事处</td>
                                        </tr>
                                        <tr>
                                          <td>学生处</td>
                                          <td>教育培训管理处</td>
                                          <td>离退休工作处</td>
                                        </tr>
                                        <tr>
                                          <td>港澳台办公室</td>
                                          <td>实验室与设备处</td>
                                          <td>财务处</td>
                                        </tr>
                                        <tr>
                                          <td>港澳台办公室</td>
                                          <td>实验室与设备处</td>
                                          <td>财务处</td>
                                        </tr>
                                        <tr>
                                          <td>监察室</td>
                                          <td>审计室</td>
                                          <td>基建规划处</td>
                                        </tr>
                                        <tr>
                                          <td>资产管理处</td>
                                          <td>房屋管理服务中心</td>
                                          <td>文物保护与环境建设办公室</td>
                                        </tr>
                                        <tr>
                                          <td>后勤管理处</td>
                                          <td>总务长办公室</td>
                                          <td>绿色大学办公室</td>
                                        </tr>
                                        <tr>
                                          <td>保卫处</td>
                                          <td>新闻中心</td>
                                          <td>信息化工作办公室</td>
                                        </tr>
                                        <tr>
                                          <td>保密管理办公室</td>
                                          <td>经营性资产管理办公室</td>
                                          <td>政策研究室</td>
                                        </tr>
                                        <tr>
                                          <td>档案馆</td>
                                          <td>校史馆</td>
                                          <td>招生办公室（本科生）</td>
                                        </tr>
                                        <tr>
                                          <td>研究生招生办公室</td>
                                          <td>学生职业发展指导中心</td>
                                          <td></td>
                                        </tr>
                                      </tbody>
                                    </table>

                                     <table class="table">
                                      <tbody>
                                        <tr>
                                          <td>校长办公室</td>
                                          <td>教务部</td>
                                          <td>研究生院</td>
                                        </tr>
                                        <tr>
                                          <td>科研院</td>
                                          <td>文科建设处</td>
                                          <td>技术转移研究院</td>
                                        </tr>
                                        <tr>
                                          <td>发展规划处<br>学科规划与建设办公室</td>
                                          <td>国际合作与交流处</td>
                                          <td>人事处</td>
                                        </tr>
                                        <tr>
                                          <td>学生处</td>
                                          <td>教育培训管理处</td>
                                          <td>离退休工作处</td>
                                        </tr>
                                        <tr>
                                          <td>港澳台办公室</td>
                                          <td>实验室与设备处</td>
                                          <td>财务处</td>
                                        </tr>
                                        <tr>
                                          <td>港澳台办公室</td>
                                          <td>实验室与设备处</td>
                                          <td>财务处</td>
                                        </tr>
                                        <tr>
                                          <td>监察室</td>
                                          <td>审计室</td>
                                          <td>基建规划处</td>
                                        </tr>
                                        <tr>
                                          <td>资产管理处</td>
                                          <td>房屋管理服务中心</td>
                                          <td>文物保护与环境建设办公室</td>
                                        </tr>
                                        <tr>
                                          <td>后勤管理处</td>
                                          <td>总务长办公室</td>
                                          <td>绿色大学办公室</td>
                                        </tr>
                                        <tr>
                                          <td>保卫处</td>
                                          <td>新闻中心</td>
                                          <td>信息化工作办公室</td>
                                        </tr>
                                        <tr>
                                          <td>保密管理办公室</td>
                                          <td>经营性资产管理办公室</td>
                                          <td>政策研究室</td>
                                        </tr>
                                        <tr>
                                          <td>档案馆</td>
                                          <td>校史馆</td>
                                          <td>招生办公室（本科生）</td>
                                        </tr>
                                        <tr>
                                          <td>研究生招生办公室</td>
                                          <td>学生职业发展指导中心</td>
                                          <td></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                </div>
                            </article><!--//news-item-->
                        </div><!--//news-wrapper-->
                        
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->

<% include footer.ejs %>