<% include ../head.ejs %>
<!-- ******CONTENT****** -->
<div class="content container">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">创客学院</h1>
            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">您在这里:</li>
                    <li><a href="/">首页</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">创客学院</li>
                </ul>
            </div><!--//breadcrumbs-->
        </header>
        <div class="page-content">
            <div class="row page-row">
                <aside class="page-sidebar  col-md-2 col-sm-3 affix-top">
                    <section class="widget">
                        <ul class="nav">
                            <li class="active"><a href="/maker">创客学院简介</a></li>
                            <li><a href="/maker/production">开源硬件</a></li>
                            <li><a href="/maker/video/2">教学视频</a></li>
                        </ul>
                    </section><!--//widget-->
                </aside>
                <div class="maker-wrapper col-md-10 col-sm-8">
                    <section>
                        <div class="">

                            <p class="lead">开源硬件---------------做全球STEM教育的硬件支持者</p>

                            <div class="divider divider-center divider-color"><!-- divider -->
                                <i class="fa fa-chevron-down"></i>
                            </div>

                            <!-- FEATURED BOXES 3 -->
                            <div class="row divider-content">

                                <div class="col-md-4 col-xs-6 divider-content-item">
                                    <div class="text-center">
                                        <img src="index/images/bt1.png">
                                        <h4>开源硬件</h4>
                                        <p class="font-lato size-20">提供大量的积木话的开源硬件作品。并且可以帮助你快速实现自己的想法，24小时原型设计</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-6 divider-content-item">
                                    <div class="text-center">
                                        <img src="index/images/btn2.png">
                                        <h4>快速原型服务</h4>
                                        <p class="font-lato size-20">平台拥有完整的物料焊接间，超过1000种常用电子物料，SMD桌面式小型贴片机和专业的工程师</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-6 divider-content-item">
                                    <div class="text-center">
                                        <img src="index/images/btn3.png">
                                        <h4>设备辅助</h4>
                                        <p class="font-lato size-20">自主研发的 Freaks3D 全球首款便携式3D打印机 ， 激光切割机</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-6 divider-content-item">
                                    <div class="text-center">
                                        <img src="index/images/btn4.png">
                                        <h4>小批量生产</h4>
                                        <p class="font-lato size-20">EF专注4年的小批量生产，拥有2个小批量合作工厂，集中解决100片到1000片最难范围的生产</p>
                                    </div>
                                </div>

                                <div class="col-md-4 col-xs-6 divider-content-item">
                                    <div class="text-center">
                                        <img src="index/images/btn6.png">
                                        <h4>全球众筹服务</h4>
                                        <p class="font-lato size-20">EF目前已成功帮助三次全球范围的众筹项目，两个项目金额超过14万美金，能从文案，视频，营销，销售渠道，生产，发货全方面辅导团队</p>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-6 divider-content-item">
                                    <div class="text-center">
                                        <img src="index/images/btn7.png">
                                        <h4>创客教育</h4>
                                        <p class="font-lato size-20">EF本身就是开源硬件的军火商，直至最终不会改变。目前无论是空间还是加速器都极度缺乏创客教育的资料</p>
                                    </div>
                                </div>

                            </div>
                            <!-- /FEATURED BOXES 3 -->

                        </div>
                    </section>
                </div><!--//news-wrapper-->

            </div><!--//page-row-->
        </div><!--//page-content-->
    </div><!--//page-->
</div><!--//content-->

<% include footer.ejs %>