<% include ../head.ejs %>
<!-- ******CONTENT****** -->
<div class="content container">
    <div class="page-wrapper">
        <header class="page-heading clearfix">
            <h1 class="heading-title pull-left">创客学院</h1>
            <div class="breadcrumbs pull-right">
                <ul class="breadcrumbs-list">
                    <li class="breadcrumbs-label">您在这里:</li>
                    <li><a href="/">首页</a><i class="fa fa-angle-right"></i></li>
                    <li class="current">创客学院</li>
                </ul>
            </div><!--//breadcrumbs-->
        </header>
        <div class="page-content">
            <div class="row page-row">
                <aside class="page-sidebar  col-md-2 col-sm-4 affix-top">
                    <section class="widget">
                        <ul class="nav">
                            <li><a href="/maker">创客学院简介</a></li>
                            <li class="active"><a href="/maker/production">开源硬件</a></li>
                            <li><a href="/maker/video/2">教学视频</a></li>
                        </ul>
                    </section><!--//widget-->
                </aside>
                <div class="maker-wrapper col-md-10 col-sm-8">
                    <section>
                        <div class="page-content">
                            <div class="row page-row">
                                <a class="prettyphoto col-md-4 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" title="传感器套件" href="/index/images/no1b.png">
                                    <img class="img-responsive img-thumbnail" src="/index/images/no1.png" alt="" />
                                    <p>传感器套件</p>
                                </a>
                                <a class="prettyphoto col-md-4 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" title="Freakscar" href="/index/images/no2b.png">
                                    <img class="img-responsive img-thumbnail" src="/index/images/no2.png" alt="" />
                                    <p>Freakscar</p>
                                </a>
                                <a class="prettyphoto col-md-4 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" title="Arduino入门套件" href="/index/images/no3b.png">
                                    <img class="img-responsive img-thumbnail" src="/index/images/no3.png" alt="" />
                                    <p>Arduino入门套件</p>
                                </a>
                                <a class="prettyphoto col-md-4 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" title="Arduino高级套件" href="/index/images/no4b.png">
                                    <img class="img-responsive img-thumbnail" src="/index/images/no4.png" alt="" />
                                    <p>Arduino高级套件</p>
                                </a>
                                <a class="prettyphoto col-md-4 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" title="Bitkey 套件" href="/index/images/no5b.png">
                                    <img class="img-responsive img-thumbnail" src="/index/images/no5.png" alt="" />
                                    <p>Bitkey 套件</p>
                                </a>
                                <a class="prettyphoto col-md-4 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" title="FreaksArm 套件" href="/index/images/no6b.png">
                                    <img class="img-responsive img-thumbnail" src="/index/images/no6.png" alt="" />
                                    <p>FreaksArm 套件</p>
                                </a>
                                <a class="prettyphoto col-md-4 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" title="展示套件" href="/index/images/no7b.png">
                                    <img class="img-responsive img-thumbnail" src="/index/images/no7.png" alt="" />
                                    <p>展示套件</p>
                                </a>
                                <a class="prettyphoto col-md-4 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" title="Freaksclock定时器套件" href="/index/images/no8b.png">
                                    <img class="img-responsive img-thumbnail" src="/index/images/no8.png" alt="" />
                                    <p>Freaksclock定时器套件</p>
                                </a>
                                <a class="prettyphoto col-md-4 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" title="行星表秒" href="/index/images/no9b.png">
                                    <img class="img-responsive img-thumbnail" src="/index/images/no9.png" alt="" />
                                    <p>行星表秒</p>
                                </a>
                                <a class="prettyphoto col-md-4 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" title="电子木工" href="/index/images/no10b.png">
                                    <img class="img-responsive img-thumbnail" src="/index/images/no10.png" alt="" />
                                    <p>电子木工</p>
                                </a>
                                <a class="prettyphoto col-md-4 col-sm-4 col-xs-6" rel="prettyPhoto[gallery]" title="自制快热电烙铁" href="/index/images/no11b.png">
                                    <img class="img-responsive img-thumbnail" src="/index/images/no11.png" alt="" />
                                    <p>自制快热电烙铁</p>
                                </a>
                            </div><!--//page-row-->

                        </div><!--//page-content-->
                    </section>
                </div><!--//news-wrapper-->

            </div><!--//page-row-->
        </div><!--//page-content-->
    </div><!--//page-->
</div><!--//content-->

<% include footer.ejs %>