<% include header.ejs %>
    <!-- ******CONTENT****** -->
    <div class="content container">
        <div class="page-wrapper">
            <header class="page-heading clearfix">
                <h1 class="heading-title pull-left">成长</h1>
            </header>
            <div class="page-content">
                <div class="row page-row">
                    <aside class="page-sidebar  col-md-2 col-sm-3 affix-top">
                        <section class="widget">
                            <ul class="nav">
                                <li class="active"><a href="#">学生社团</a></li>
                                <li><a href="#">社会实践</a></li>
                                <li><a href="#">课外科技</a></li>
                                <li><a href="#">创新创业</a></li>
                                <li><a href="#">志愿公社</a></li>
                            </ul>
                        </section><!--//widget-->
                    </aside>
                    <div class="page-row col-md-10 col-sm-9">
                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="/gallery-album"><img class="img-responsive" src="/index/images/gallery/gallery-thumb-1.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">清华大学校园环境全景拍</a></small></h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="/gallery-album"><img class="img-responsive" src="/index/images/gallery/gallery-thumb-2.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">清华大学校园环境全景拍</a></small></h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="/gallery-album"><img class="img-responsive" src="/index/images/gallery/gallery-thumb-3.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">清华大学校园环境全景拍</a></small></h4>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="/gallery-album"><img class="img-responsive" src="/index/images/gallery/gallery-thumb-4.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">清华大学校园环境全景拍</a></small></h4>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="/gallery-album"><img class="img-responsive" src="/index/images/gallery/gallery-thumb-5.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">清华大学校园环境全景拍</a></small></h4>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="/gallery-album"><img class="img-responsive" src="/index/images/gallery/gallery-thumb-6.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">清华大学校园环境全景拍</a></small></h4>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="/gallery-album"><img class="img-responsive" src="/index/images/gallery/gallery-thumb-7.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">清华大学校园环境全景拍</a></small></h4>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="/gallery-album"><img class="img-responsive" src="/index/images/gallery/gallery-thumb-8.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">清华大学校园环境全景拍</a></small></h4>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="/gallery-album"><img class="img-responsive" src="/index/images/gallery/gallery-thumb-9.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">清华大学校园环境全景拍</a></small></h4>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="/gallery-album">
                                    <img class="img-responsive" src="/index/images/gallery/gallery-thumb-10.jpg" alt="" />
                                </a>
                                <div class="desc">
                                    <h4><small><a href="#">清华大学校园环境全景拍</a></small></h4>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="/gallery-album"><img class="img-responsive" src="/index/images/gallery/gallery-thumb-11.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">清华大学校园环境全景拍</a></small></h4>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                            <div class="album-cover">
                                <a href="/gallery-album"><img class="img-responsive" src="/index/images/gallery/gallery-thumb-12.jpg" alt="" /></a>
                                <div class="desc">
                                    <h4><small><a href="#">清华大学校园环境全景拍</a></small></h4>

                                </div>
                            </div>
                        </div>

                    </div><!--//page-row-->

                </div>
            </div><!--//page-content-->
        </div><!--//page-->
    </div><!--//content-->


<% include footer.ejs %>