<% include header.ejs %>
    
        <!-- ******CONTENT****** --> 
        <div class="content container">
            <div class="page-wrapper">
                <header class="page-heading clearfix">
                    <h1 class="heading-title pull-left">文艺演出</h1>
                    <div class="breadcrumbs pull-right">
                        <ul class="breadcrumbs-list">
                            <li class="breadcrumbs-label">您在这里:</li>
                            <li><a href="/">首页</a><i class="fa fa-angle-right"></i></li>
                            <li style="color: #aaaaaa">校园活动 <i class="fa fa-angle-right"></i></li>
                            <li class="current">文艺演出</li>
                        </ul>
                    </div><!--//breadcrumbs-->
                </header> 
                <div class="page-content">
                    <div class="row page-row">
                        <aside class="page-sidebar col-md-2 col-sm-4 affix-top">                    
                            <section class="widget">
                                <ul class="nav">
                                    <li><a href="/xiaoyuanhuodong-jiangzuo">讲座论坛</a></li>
                                    <li><a href="/xiaoyuanhuodong-shetuan">社团活动</a></li>
                                    <li class="active"><a href="/xiaoyuanhuodong-wenyi">文艺演出</a></li>
                                    <li><a href="/xiaoyuanhuodong-tiyu">体育竞技</a></li>
                                </ul>                    
                            </section><!--//widget-->
                        </aside><!--//page-sidebar-->
                        <div class="news-wrapper col-md-10 col-sm-8">    
                            <article class="events-item page-row has-divider clearfix">
                                <div class="date-label-wrapper col-md-1 col-sm-2">
                                    <p class="date-label">
                                        <span class="month">2月</span>
                                        <span class="date-number">18</span>
                                    </p>
                                </div><!--//date-label-wrapper-->
                                <div class="details col-md-11 col-sm-10">
                                    <h3 class="title">第一届大学生文艺汇演</h3>
                                    <p class="meta"><span class="time"><i class="fa fa-clock-o"></i>10:00am - 18:00pm</span><span class="location"><i class="fa fa-map-marker"></i><a href="#">西校区活动中心</a></span></p>  
                                    <p class="desc">2012年11月29日，中共中央总书记习近平带领新一届中央领导集体参观中国国家博物馆“复兴之路”展览现场。习近平定义“中国梦”－－实现中华民族的伟大复兴就是中华民族近代以来最伟大梦想，而且满怀信心地表示这个梦想“一定能实现”。党内著名理论家、中共中央党校原副校长李君如认为，全面建成小康社会是21世纪头20年的“中国梦”。这是实现21世纪头50年“中国梦”和后百年“中国梦”的最重要的一个发展阶段。</p>                       
                                </div><!--//details-->
                            </article>                     
                           <article class="events-item page-row has-divider clearfix">
                                <div class="date-label-wrapper col-md-1 col-sm-2">
                                    <p class="date-label">
                                        <span class="month">2月</span>
                                        <span class="date-number">18</span>
                                    </p>
                                </div><!--//date-label-wrapper-->
                                <div class="details col-md-11 col-sm-10">
                                    <h3 class="title">第一届大学生文艺汇演</h3>
                                    <p class="meta"><span class="time"><i class="fa fa-clock-o"></i>10:00am - 18:00pm</span><span class="location"><i class="fa fa-map-marker"></i><a href="#">西校区活动中心</a></span></p>  
                                    <p class="desc">2012年11月29日，中共中央总书记习近平带领新一届中央领导集体参观中国国家博物馆“复兴之路”展览现场。习近平定义“中国梦”－－实现中华民族的伟大复兴就是中华民族近代以来最伟大梦想，而且满怀信心地表示这个梦想“一定能实现”。党内著名理论家、中共中央党校原副校长李君如认为，全面建成小康社会是21世纪头20年的“中国梦”。这是实现21世纪头50年“中国梦”和后百年“中国梦”的最重要的一个发展阶段。</p>                       
                                </div><!--//details-->
                            </article> 
                            <article class="events-item page-row has-divider clearfix">
                                <div class="date-label-wrapper col-md-1 col-sm-2">
                                    <p class="date-label">
                                        <span class="month">2月</span>
                                        <span class="date-number">18</span>
                                    </p>
                                </div><!--//date-label-wrapper-->
                                <div class="details col-md-11 col-sm-10">
                                    <h3 class="title">第一届大学生文艺汇演</h3>
                                    <p class="meta"><span class="time"><i class="fa fa-clock-o"></i>10:00am - 18:00pm</span><span class="location"><i class="fa fa-map-marker"></i><a href="#">西校区活动中心</a></span></p>  
                                    <p class="desc">2012年11月29日，中共中央总书记习近平带领新一届中央领导集体参观中国国家博物馆“复兴之路”展览现场。习近平定义“中国梦”－－实现中华民族的伟大复兴就是中华民族近代以来最伟大梦想，而且满怀信心地表示这个梦想“一定能实现”。党内著名理论家、中共中央党校原副校长李君如认为，全面建成小康社会是21世纪头20年的“中国梦”。这是实现21世纪头50年“中国梦”和后百年“中国梦”的最重要的一个发展阶段。</p>                       
                                </div><!--//details-->
                            </article> 
                            <article class="events-item page-row has-divider clearfix">
                                <div class="date-label-wrapper col-md-1 col-sm-2">
                                    <p class="date-label">
                                        <span class="month">2月</span>
                                        <span class="date-number">18</span>
                                    </p>
                                </div><!--//date-label-wrapper-->
                                <div class="details col-md-11 col-sm-10">
                                    <h3 class="title">第一届大学生文艺汇演</h3>
                                    <p class="meta"><span class="time"><i class="fa fa-clock-o"></i>10:00am - 18:00pm</span><span class="location"><i class="fa fa-map-marker"></i><a href="#">西校区活动中心</a></span></p>  
                                    <p class="desc">2012年11月29日，中共中央总书记习近平带领新一届中央领导集体参观中国国家博物馆“复兴之路”展览现场。习近平定义“中国梦”－－实现中华民族的伟大复兴就是中华民族近代以来最伟大梦想，而且满怀信心地表示这个梦想“一定能实现”。党内著名理论家、中共中央党校原副校长李君如认为，全面建成小康社会是21世纪头20年的“中国梦”。这是实现21世纪头50年“中国梦”和后百年“中国梦”的最重要的一个发展阶段。</p>                       
                                </div><!--//details-->
                            </article> 
                            <article class="events-item page-row has-divider clearfix">
                                <div class="date-label-wrapper col-md-1 col-sm-2">
                                    <p class="date-label">
                                        <span class="month">2月</span>
                                        <span class="date-number">18</span>
                                    </p>
                                </div><!--//date-label-wrapper-->
                                <div class="details col-md-11 col-sm-10">
                                    <h3 class="title">第一届大学生文艺汇演</h3>
                                    <p class="meta"><span class="time"><i class="fa fa-clock-o"></i>10:00am - 18:00pm</span><span class="location"><i class="fa fa-map-marker"></i><a href="#">西校区活动中心</a></span></p>  
                                    <p class="desc">2012年11月29日，中共中央总书记习近平带领新一届中央领导集体参观中国国家博物馆“复兴之路”展览现场。习近平定义“中国梦”－－实现中华民族的伟大复兴就是中华民族近代以来最伟大梦想，而且满怀信心地表示这个梦想“一定能实现”。党内著名理论家、中共中央党校原副校长李君如认为，全面建成小康社会是21世纪头20年的“中国梦”。这是实现21世纪头50年“中国梦”和后百年“中国梦”的最重要的一个发展阶段。</p>                       
                                </div><!--//details-->
                            </article> 
                            <article class="events-item page-row has-divider clearfix">
                                <div class="date-label-wrapper col-md-1 col-sm-2">
                                    <p class="date-label">
                                        <span class="month">2月</span>
                                        <span class="date-number">18</span>
                                    </p>
                                </div><!--//date-label-wrapper-->
                                <div class="details col-md-11 col-sm-10">
                                    <h3 class="title">第一届大学生文艺汇演</h3>
                                    <p class="meta"><span class="time"><i class="fa fa-clock-o"></i>10:00am - 18:00pm</span><span class="location"><i class="fa fa-map-marker"></i><a href="#">西校区活动中心</a></span></p>  
                                    <p class="desc">2012年11月29日，中共中央总书记习近平带领新一届中央领导集体参观中国国家博物馆“复兴之路”展览现场。习近平定义“中国梦”－－实现中华民族的伟大复兴就是中华民族近代以来最伟大梦想，而且满怀信心地表示这个梦想“一定能实现”。党内著名理论家、中共中央党校原副校长李君如认为，全面建成小康社会是21世纪头20年的“中国梦”。这是实现21世纪头50年“中国梦”和后百年“中国梦”的最重要的一个发展阶段。</p>                       
                                </div><!--//details-->
                            </article> 

                            
                        </div><!--//news-wrapper-->
                     
                    </div><!--//page-row-->
                </div><!--//page-content-->
            </div><!--//page--> 
        </div><!--//content-->

<% include footer.ejs %>