<%docs.forEach(function(e,i){%>
<div class="media-content-box col-sm-3 col-xs-6 ">
    <div class="media-box" mtype="docs" index="<%=i%>" media_id="<%=e._id%>">
        <h4 class="media-tit" style="display: none"><%=e.name%></h4>
        <%if(e.type=='ppt'){%>
        <img src="/images/docs/no2.jpg">
        <%}else if(e.type=='pdf'){%>
        <img src="/images/docs/no1.jpg">
        <%}else if(e.type=='doc' || e.type=='docx'){%>
        <img src="/images/docs/no4.jpg">
        <%}else if(e.type=='txt'){%>
        <img src="/images/docs/no5.jpg">
        <%}else if(e.type=='xls'){%>
        <img src="/images/docs/no6.jpg">
        <%}else if(e.type=='rar'|| e.type=='zip'){%>
        <img src="/images/docs/no3.jpg">
        <%}%>
        <ul class="media-ope">

            <li>
                <span class="glyphicon glyphicon-pencil"></span>
                <div class="edit bounced-hid">
                    <i class="glyphicon glyphicon-triangle-top"></i>
                    <span class="tit">文件重命名</span>
                    <input type="text">
                    <span class="btn"><i class="glyphicon glyphicon-ok"></i></span>
                    <span class="btn"><i class="glyphicon glyphicon-remove bounced-close"></i></span>
                </div>
            </li>
            <li>
                <span class="glyphicon glyphicon-trash" ></span>
                <div class="edit bounced-hid delbox">
                    <i class="glyphicon glyphicon-triangle-top"></i>
                    <span class="tit">确定删除文件？</span>
                    <span class="btn"><i class="glyphicon glyphicon-ok"></i></span>
                    <span class="btn"><i class="glyphicon glyphicon-remove bounced-close"></i></span>
                </div>
            </li>

            <li>
                <a href="/admin/download/?path=<%=e.url%>" target="_blank"><span class="glyphicon glyphicon-download-alt"></span></a>
            </li>
        </ul>
    </div>
</div>
<%})%>