<%notices.forEach(function(item){%>
<p class="block nopop article btn-small" blockid="article" article-type="notice" articleid="<%=item._id%>"><i class="fa fa-caret-right"></i><a href="/notice/<%=item._id%>" field="title"><%=item.title%></a><span class="pull-right"><%=item.time%></span></p>
<%})%>

<script>
    console.log(new Date());
    $('.block').on('article-change',function(evt,id,data){
        var date = new Date();
        var month=String(date.getMonth()+1).length<2?'0'+(date.getMonth()+1):date.getMonth()+1;       //获取当前月份(0-11,0代表1月)
        // alert(month);
        var day=String(date.getDate()).length<2?'0'+(date.getDate()):date.getDate();
        var time=month+'.'+day;
        //alert($(".type-nav").find("li.active").attr("typeid"));
        data['time']=time;
    });
</script>