<div class="tab-pane">

    <div  class="Warehouse-wrapper">
        <div class="Warehouse-item col-sm-3">
            <img src="index/images/logo-purple.png">
        </div>
        <div class="Warehouse-item col-sm-3">
            <img src="index/images/logo-beida.png">
        </div>
        <div class="Warehouse-item col-sm-3">
            <img src="index/images/slides/slide-3.jpg">
        </div>
        <div class="Warehouse-item col-sm-3">
            <img src="index/images/slides/slide-4.jpg">
        </div>
    </div>
</div>